git+https://github.com/elifesciences/elife-tools.git@52827ded2d434d2f255f287d5bebeba3ccb9a805#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@2b4e261579a8905ed02181bd96ccbcbb55850606#egg=elifearticle
GitPython==2.1.7
configparser==3.5.0